{% extends 'base_generic.html' %}
{%block content%}
<body>
    <div class="container">
      
        <h2>Delete Task</h2>
        
        {% if error_message %}
        <p id = "error_text"> {{error_message}}
      {% endif %}
  <form id="surveyForm" action="{% url 'delete_task_handler'%}" method="post">
    {% csrf_token %}
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value = "" 
    required><br>
    <label for="eventTimeFrom">Start Time:</label>
    <input type="time" id="eventTimeFrom" name="eventTimeFrom" value = "" required><br>
    <label for="eventTimeTo">Start Time:</label>
    <input type="time" id="eventTimeTo" name="eventTimeTo" value = "" required><br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required minlength="1" maxlength="35" size="35" ><br>
    <button id = "signUpButton" type="submit">Submit</button>
    </form>
  </div>
  </body>
{%endblock%}