{% extends 'base_generic.html'%}
{% block content%}

  <body>
    <div class="container">
      {% if  error_message %}
      <p> {{error_message}}</p>
      {% endif %}
        <h2>Login</h2>
        <form id="surveyForm" action="{% url 'login_handler'%}" method="post">
          {% csrf_token %}  
          <label for="username">Username:</label>
            <input type="text" name="username" value = "{{username}}" id="username" required>
            <label for="password">Password:</label>
            <input type="password" type="text" id="password" name="password" id="password" required>
            <button type="submit">Login</button>
            <p id = "or">Or</p>
            <a href = "{% url 'create_user'%}" id = "SignUp">Sign Up</a>
        </form>
    </div>
    
</body>

{% endblock %}